@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

.caixa{
    max-width: 940px;
    position: relative;
    margin: 0px auto;
}

header{
    background: #BBBBBB;

}

nav {
    position: absolute;
    top: 110px;
    right: 10px;
}

nav li {
    display: inline;
    margin:0px 0px 0px 1vw;
}

nav a{
    text-transform: uppercase;
    color: black;
    font-weight: bolder;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover{
    text-decoration: underline;
    color: #C78C19;
}

main ul{
    width: 940px;
    margin: auto;
    padding: 50px 0px;
}

main li{
    display: inline-block;
    width: 30%;
    vertical-align: top;
    text-align: center;
    padding: 30px 20px;
    margin: 0px 1.5%;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 10px;
    height: 60vh;
}

main li:hover{
    border-color: #C78C19;
}

main li:active{
    border-color: lightslategray;
}

main h2{
    font-size: 30px;
    font-weight: bold;
}

main p{
    font-size: 18px;
}

.preco{
    font-size: 22px;
    font-weight: bold;
}

main li:hover h2{
    font-size: 35px;
}

footer{
    color: white;
    background-color: black;
    background-image: url("../Materiais/Produtos/bg.jpg");
    text-align: center;
}

main {
    max-width: 940px;
    margin: auto;
    padding-left: 15px;
}

form {
    margin: 40px 0px;
}

.input-mod {
    display: block;
    padding: 10px 25px;
    width: 50%;
    margin-bottom: 15px;
}

form label, form p {
    display: block;
    font-size: 20px;
    margin: 10px 0;
}

div input, #esp{
    margin:10px;
}