@charset "UTF-8";

body{
    margin:0mm;
}

header{
    background-color: #CCCCCC;
}

#listprinc li, a{
    display: inline;
    font-weight: bolder;
    text-transform: uppercase;
    color:black;
    text-decoration: none;
    margin-right: 1vw;
}

#hd{
    position: relative;
    max-width: 940px;
    margin: auto;
    font-size: 22px;
}

#listprinc{
    position: absolute;
    top: 110px;
    right: 0;
}

.principal{
    background: #CCCCCC;
    padding: 25px;
}

img#princ{
    width: 100%;
}

h1{
    margin-left: 25px;
}
h2, h3, p{
    text-align: center;
}

em strong{
    color: red;
}

.items{
    font-style: italic;
}

.beneficios{
    background: white;
    padding: 25px;
}

h2{
    text-align: center;

}
#listben{
    display: inline-block;
    vertical-align: top;
    margin-right: 15vw;
}

#imgben{
    display: inline-block;
    width: 50vw;
}